/*
                      花茗官网CSS



#                       _oo0oo_
#                      o8888888o
#                      88" . "88
#                      (| -_- |)
#                      0\  =  /0
#                    ___/`---'\___
#                  .' \\|     |// '.
#                 / \\|||  :  |||// \
#                / _||||| -:- |||||- \
#               |   | \\\  -  /// |   |
#               | \_|  ''\---/''  |_/ |
#               \  .-\__  '-'  ___/-. /
#             ___'. .'  /--.--\  `. .'___
#          ."" '<  `.___\_<|>_/___.' >' "".
#         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
#         \  \ `_.   \_ __\ /__ _/   .-` /  /
#     =====`-.____`.___ \_____/___.-`___.-'=====
#                       `=---='
#
#
#     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#               佛祖保佑         永无BUG



*/ 



































































































































































































































body {
    background-image: url('/img/bj.jpg');
  }    
.container {
    width: 50%;
    margin: 5% auto 0;
    padding: 2% 5%;
    border-radius: 10px
}

ul {
    padding-left: 20px;
}

    ul li {
        line-height: 2.3
    }

a {
    color: #20a53a
}
h1 {
    color:#f0f0f0
}
p {
    color:#f0f0f0
}
h3{
    color:#f0f0f0
}
.color{
    color:crimson
}